a {
	color: white;
	text-decoration: none;
}

.container {
	padding: 30px;
	margin : 10px;
}


.cards {
	border: solid 2px;
	margin: 10px;
}

h5 {
	border-bottom: solid 2px;
	padding-left: 5px;
}
img {
	height: 100px;
	width: 100px;
	border: solid 1px;
	color: gray;
	margin: 20px;
}

.centreVerticalement {
 display: inline-block;
 vertical-align: middle;
 float: none;
}